stock_market:
  target: dev
  outputs:
    dev:
      type: bigquery
      method: service-account
      project: satellite-data-pipeline-2024
      dataset: stock_market_data
      threads: 4
      keyfile: ../dbt_service_account_key.json
      timeout_seconds: 300
      location: US
      priority: interactive
